.about {
  position: relative;
  margin: 2rem;
  padding-top: 80px;
}

.about-title {
  position: relative;
  padding: 2rem;
}

#about-title-text {
  margin: auto;
  text-align: center;
  color: #a1593d;
  font-size: 2rem;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-container__half {
  position: relative;
  margin: 2rem;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about img {
  width: 80%;
  border-radius: 50%;
}

.about p {
  text-align: justify;
  text-indent: 1em;
  color: rgb(61, 52, 61);
}

.about-email p {
  text-align: center;
}

.about-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 3rem;
}

.about-link {
  color: #a1593d;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.about-link i {
  font-size: 2rem;
}

.about-link:hover {
  color: #d9bbaf;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  .about img {
    width: 100%;
  }
  .about-container__half {
    margin: 0.5rem;
  }
  .about-links {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .about-container__half {
    width: 100%;
  }
}
