.portfolio {
  margin: 2rem;
  padding-top: 80px;
}

.portfolio-title {
  position: relative;
  text-align: center;
  padding: 2rem;
}

#portfolio-title-text {
  font-size: 2rem;
  color: #a1593d;
}

.portfolio-row {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-column {
  flex: 25%;
  max-width: 25%;
  text-align: center;
}

.portfolio-column img {
  margin-top: 8px;
  width: 97%;
  vertical-align: middle;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.portfolio-column img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .portfolio-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-column {
    flex: 100%;
    max-width: 100%;
  }
}

/* ---------- IMG VIEWER ------------- */

/* background */
.img-viewer {
  display: none;
  position: fixed;
  z-index: 10000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* image */
.img-viewer__content {
  margin: auto;
  display: block;
  height: 80%;
  max-width: 700px;
}

/* close button */
.img-viewer__close {
  position: absolute;
  top: 15px;
  right: 30px;
  color: white;
  font-size: 2rem;
  font-weight: lighter;
  transition: 0.3s;
}

.img-viewer__close:hover,
.img-viewer__close:focus {
  color: rgb(190, 174, 174);
  text-decoration: none;
  cursor: pointer;
}
